bind 0.0.0.0
protected-mode no
port {{ redis_port_master }}
tcp-backlog 511
timeout 0
tcp-keepalive 300
supervised systemd
loglevel notice
logfile "/var/log/redis/master/redis-{{ redis_port_master }}.log"
#always-show-logo no
stop-writes-on-bgsave-error yes
rdbcompression yes
dbfilename dump-{{ redis_port_master }}.rdb
dir {{ redis_root_working_dir }}/master-{{ redis_port_master }}/
cluster-enabled yes
cluster-config-file {{ redis_root_working_dir }}/config/{{ redis_port_master }}/node-cluster.conf
cluster-node-timeout 15000
appendonly yes
appendfilename node-cl-master-{{ redis_port_master }}-{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}.aof
